{% load i18n sekizai_tags %}

{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}cms_plugins/js/jquery.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}cms_plugins/js/jquery.colorbox-min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}cms_plugins/js/fbalbum.js"></script>{% endaddtoblock %}

{% addtoblock "css" %}<link rel="stylesheet" href="{{STATIC_URL}}cms_plugins/css/colorbox.css">{% endaddtoblock %}
{% addtoblock "css" %}

<style>
.small {
    padding: 10px 5px 10px 5px;
}
</style>
{% endaddtoblock %}

<div class="plugin_fbalbum">
</div>
